// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

body {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 4821px;

  /* UI Properties */

  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

#first-line {
  text-align: left;
  font: normal normal 600 30px/110px Cormorant SC;
  letter-spacing: 0px;
  color: #ff3147;
  text-transform: uppercase;
  opacity: 1;
  size: 30px;
}
#second-line {
  text-align: left;
  font: normal normal bold 60px/80px Cormorant SC;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
  size: 60px;
}

.btn-danger {
  width: 160px;
  height: 50px;
}
#contact {
  text-align: left;
  font: normal normal 600 14px/26px Poppins;
  letter-spacing: 1.4px;
  color: #ffffff;
  opacity: 1;
}

img {
  border-radius: 5px;
}

#services {
  background: #fafafa 0% 0% no-repeat padding-box;
  opacity: 1;
}

#first-line-services {
  text-align: left;
  font: normal normal 600 24px/26px Cormorant SC;
  letter-spacing: 0px;
  color: #ff3147;
  opacity: 1;
}

#second-line-services {
  text-align: left;
  font: normal normal bold 45px/65px Cormorant SC;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}

#filler-services {
text-align: left;
font: normal normal normal 16px/30px Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

/*===========================
  Section Title One CSS
===========================*/
.section-title-one {
  text-align: center;
  max-width: 550px;
  margin: auto;
  margin-bottom: 50px;
  position: relative;
  z-index: 5;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title-one {
    margin-bottom: 45px;
  }
}
@media (max-width: 767px) {
  .section-title-one {
    margin-bottom: 35px;
  }
}
.section-title-one h2 {
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title-one h2 {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}
@media (max-width: 767px) {
  .section-title-one h2 {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}

#f1_container {
  position: relative;
  margin: 10px auto;
width: 370px;
height: 526px;
  z-index: 1;
}
#f1_container {
  perspective: 1000px;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  /*color: white;*/
  text-align: center;
  background: #ff3147 0% 0% no-repeat padding-box;
  border-radius: 5px;
}
#f1_container img {
width: 370px;
height: 526px;
}
